---
title:  "Friends And Family Test Results"
author: "Robert Curtis"
date:    2015-07-31T00:00:00+01:00
tags: ["feedback", "NHS", "FFT"]
---

The NHS introduced the “Friends and Family Test” for dental practices in April 2015.

Since the 1st April, patients have an option to fill in a card after completing their course of NHS treatment and place it in a box in reception.

The only required question to be answered is: __“How likely are you to recommend our dental practice to friends and family if they needed similar care or treatment?”__ with answers ranging from “Extremely likely” to “Extremely unlikely”.

There are also some optional questions regarding the person giving the feedback and any comment they would like to make. NB: The free comments and biographical information is not shared outside the practice.

The responses are anonymous and are collated monthly, the totals being submitted to NHS England.
Over the first quarter of the scheme being in operation, we received 66 replies as follows:

| How likely are you to recommend our dental practice to friends and family if they needed similar care or treatment? | Number of replies |
| :------------- | :------------- |
| Extremely likely | 57 |
| Likely | 7 |
| Neither likely or unlikely |	2 |
| Unlikely |	0 |
| Extremely unlikely | 0 |

Naturally, we are delighted that our patients are appreciative of our service and would trust us to treat those who they care about. We will continue to strive to provide the best dental service that we can.
